@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @apply text-step-0 leading-[1.625] tracking-[-0.017em];
}

main {
  flex-grow: 1;
  overflow: clip;
}

@layer utilities {
  .balance-text {
    text-wrap: balance;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  /* Fonts */
  .font-interTight {
    font-family: var(--font-inter-tight);
  }

  .font-mori {
    font-family: var(--font-pp-mori);
  }
  .special-border {
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(120deg, #ff006e, #8338ec, #fb5607) border-box;
  }

  /* .special-border-dark {
    background: linear-gradient(#323237, #323237) padding-box,
      linear-gradient(120deg, #ff006e, #8338ec, #fb5607) border-box;
  } */

  .special-border-dark {
    background: linear-gradient(#11182d, #11182d) padding-box,
      linear-gradient(120deg, #0341c8, #0b152e, #0051ff) border-box;
  }

  /* .special-border-dark {
    background: linear-gradient(#323237, #323237) padding-box,
      linear-gradient(120deg, #2667ff, #3b28cc, #3f8efc) border-box;
  } */

  .chrome-border {
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(120deg, #d4d4d8, #f4f4f5, #d4d4d8) border-box;
  }

  .chrome-border-gray {
    background: linear-gradient(#fafafa, #fafafa) padding-box,
      linear-gradient(120deg, #d4d4d8, #f4f4f5, #d4d4d8) border-box;
  }

  .dark-chrome-border {
    background: linear-gradient(#27272a, #27272a) padding-box,
      linear-gradient(120deg, #3f3f46, rgb(63 63 70/0), #3f3f46) border-box;
  }

  .medium-chrome-border {
    background: linear-gradient(#11182d, #11182d) padding-box,
      linear-gradient(120deg, #3f3f46, rgb(63 63 70/0), #3f3f46) border-box;
  }
}

@layer components {
  .gradient-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
